{% extends 'base.html' %}
{% load static %}

{% block title %}お知らせページ{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/notification-index.css' %}">
{% endblock %}

{% block contents %}
<div class="contents">
    <div class="notification">
        <h1>お知らせ</h1>
        <ul>
            {% for notice in notification_list %}
                <li><a href="{% url 'notification:notification_detail' notice.pk %}">
                    <time datetime="{{ notice.created_at|date:'Y-m-j' }}">{{ notice.created_at|date:'m-j' }}</time>
                    <div class="title">{{ notice.title }}</div>
                </a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}