@charset "UTF-8";

.contents > aside{
    background-color: rgba(0,0,0,0.8);
    width: 350px;
    height: 100%;
    top: 0;
    /* left: 350px; */
    position: fixed;
}

.contents > aside ul{
    margin: 0;
    padding: 0;
    top: 50px;
    left: 114px;
    position: absolute;
}

.contents > aside li{
    margin: 0 0 20px;
    list-style: none;
}

.contents > aside button{
    background-color: rgba(0,0,0,0.8);
    display: block;
    position: absolute;
    top: 150px;
    left: 350px;
    width: 52px;
    height: 132px;
    margin: 0;
    padding: 0;
    border: none;
}